@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F8FC;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0554F2;
    margin-bottom: 50px;
}

header h1 {
    font-family: 'Bebas Neue';
    font-weight: normal;
    letter-spacing: 0.5cm;
    color: #F2F2F2;
}

.main {
    width: 80%;
    display: flex;
    margin:auto;
    height: 400px;
    justify-content: space-around;
    padding:8px;
}
.finalidade,
.finalidade-alterar {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.finalidade{
    background-color: #0554F2;
    color: #F2F2F2;
}
.finalidade-alterar {
    background-color: #F7BD51;
    color: #056CF2;
}
.finalidade h1,
.finalidade-alterar h1 {
    font-family: 'Oswald';
    font-size: 3em;
}
.formulario {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    background-color: white;
    height: auto;
    border-radius:5px;
}

.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control {
    width: 60%;
}

#oculta_mostra {
    cursor: pointer;
    font-weight: bold;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#feedback {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#texto-adm{
    font-family: 'Oswald';
    font-size:2em;
}
.tabela-usuarios {
    width: 60%;
    display: block;
    margin: auto;
    height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
}

.table {
    padding: 12px;

}

h1 {
    text-align: center;
}

.link {
    text-decoration: none;
}