@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap');

@media screen and (max-width:768px) {
    .menu {
        justify-content: center;
    }

    .escrito {
        display: none;
    }

    .main {
        flex-direction: column;
        width: 80%;
        margin-top: 20px;
        height: 500px;
        justify-content: flex-start;
    }

    .finalidade,
    .finalidade-alterar{
        width: 100%;
        border-radius: 0px;
        height:80px;
    }

    .formulario {
        width: 100%;
        height:420px;
        padding:8px;
    } 
    .m {
        width: 60%;
    }

    .m h1 {
        font-size: 1.6em;
    }
    .btn-modal{
        padding:12px;
        width:90px
    }
}

@media screen and (max-width:600px) {
    header h1 {
        font-size: 1.2em;
    }

    #btn_toggle {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    #btnToggle {
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .imagem {
        width: 100%;
        height: 500px;
    }

    .finalidade,.finalidade-alterar {
        width: 100%;
    }

    .finalidade h1,.finalidade-alterar h1{
        font-size: 2.3em;
    }
    .form-control
    {
        width:80%;
    }

    .texto {
        margin-top: 50px;
        width: 80%;
    }

    #menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    #menu.menu_ativo .menu {
        display: flex;
        height: auto;
        flex-direction: column;
        width: 65%;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        justify-content: center;
        padding: 15px;
    }

    .menu li a {
        font-size: 1.7em;
    }

    .sobre {
        width: 80%;
        padding: 30px;
        height: auto;
    }

    .tabela-usuarios {
        width: 80%;
    }

    .card {
        margin: auto;
    }

}